.body{
    top: 0px;
    left: 0px;
    width: 1350px;
    height: 630px;
    /* UI Properties */
    background: var(--unnamed-color-3d087b) 0% 0% no-repeat padding-box;
    background: #3D087B 0% 0% no-repeat padding-box;
    opacity: 1;
}

.a1{
    display: flex;
    padding: 0px;
    margin: 0px;
}
#time{
    display: flex;
}

#clock{
    height: 10vh;
    margin-top: 1vw;
    margin-left: 10vw;
    overflow: hidden;
}
#routine{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1vw;
    width: 35vw;
    margin-left: 10vw;
    border-radius: 1vw;
    line-height: 1.1vw;
    color: #3D087B;
    font-size: 18px;
}
.selText{
    font-family: 'Manrope', sans-serif;
    color: #3D087BDE;
}
option {
    color: rgb(176, 174, 174);
}
select{
    color: rgb(105, 103, 103);
}
.stick{
    position: relative;
    left: .8vw;
    height: 3vw;
    font-size: 3vw;
    color: #C2C2C2;
}
.a1{
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -.6vw;
}
.sel{
    width: 15vw;
    height: 3vw;
    position: relative;
    
    border: #EDEDED 1px solid;

}
#gm{
    font-family: 'Fredoka One', cursive;
    background-color: #974bb8;
    box-sizing: border-box;
    padding-left: 1vw;
    border-radius: .8vw;
    width: 35vw;
    margin: 1vw;
    margin-left: 10vw;
    margin-bottom: .5vw;
}
#text{
    
    opacity: 100%;
    color: white;
    font-size: 2.2vw;
    line-height: 2vw;
}
#time{
    margin-left: 10vw;
    

}
#bottomA{
    display: flex;
    align-items: center;

}
.button{
    position: relative;
    bottom: 2vw;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px white;
    margin-right: 1vw;
    color: white;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2.5vw;
    width: 18vw;
    height: 3vw;
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
   
}
.button:hover{
    border-radius: 5px;
    font-size: 0px;
    padding: 0vw;
    margin-right: 1vw;
}
.button:hover:after{
    border-radius: 5px;
    display:flex ;
    align-items: center;
    margin-right: 0vw;
    justify-content: center;
    content: "Party Time!";
    border: none;
    font-size: 2.5vw;
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(247deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);

}
#bottomB{
    background-color: #974bb8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
    color: #f570ff;
    text-shadow: #3D087B 2px 2px 2px;
    opacity: 1;
    width: 15vw;
    position: relative;
    bottom: 1vw;
    margin: 0px;
    overflow: hidden;
    font-size: .9vw;
    line-height: 1.5vw;
}
#box{
    position: absolute;
    top: 2vw;
    left: 50vw;
}
#b1{
    box-sizing: border-box;
    padding: 2vw;
    width: 35vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2vw;
    z-index: 3;
    border-radius: 1vw;
    font-family: 'Manrope', sans-serif;
}
#b2{
    width: 30vw;
    height: 3vw;
    background-color: white;
    opacity: 60%;
    position: relative;
    left: 2.5vw;
    z-index: 2;
    border-radius: .7vw;
}
#b3{
    width: 25vw;
    height: 2vw;
    background-color: white;
    opacity: 35%;
    position: relative;
    left: 5vw;
    bottom: 1.2vw;
    z-index: 1;
    border-radius: .5vw;
}
#t{
    color: #3D087B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 5vw;
    box-sizing: border-box;
}
.bigT{
    font-size: 3vw;
    
}
.pT{
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 5vw;
    width: 5vw;
    background-image: url(./timeline.png);
    align-items: center;
    justify-content: center;
    margin-left: .5vw;
    margin-right: .5vw;
}
.pTd{
    display: flex;
    align-items: center;
    justify-content: center;
}
#wT{
    box-sizing: border-box;
    display: flex;
    color: #3D087B;
    font-size: 3vw;
    height: 5vw;
    width: 5vw;
    margin-left: 1vw;
    background-image: url(./AM.png);
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
#grab{
    position: absolute;
    top: 16vw;
    left: 50vw;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.4vw;
    box-sizing: border-box;
    width: 35vw;
    height: 4vw;
    background-color: white;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    margin-bottom: 4vw;
    color: #8E53F0;
}
#img{
    position: absolute;
    top: 22vw;
    left: 50vw;
    display: inline-block;
    box-sizing: border-box;
}
#imgM{  
    width: 35vw;
}
@media (max-width:720px){
    .body{
        height: 1150px;
        width: auto;
    }
    #clock{
        width: 40vw;
    }
    #box{
        position: absolute;
        top: 12vw;
        left: 10vw;
    }
    #b1{
        box-sizing: border-box;
        padding: 2vw;
        width: 70vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2vw;
        z-index: 3;
        border-radius: 1vw;
        margin: 2vw;
    }
    #b2{
        width: 60vw;
        height: 10vw;
        background-color: white;
        opacity: 80%;
        position: relative;
        left: 6.5vw;
        top: -7vw;
        z-index: 2;
        border-radius: .7vw;
        margin: 1vw;
    }
    #b3{
        width: 50vw;
        height: 10vw;
        background-color: white;
        opacity: 35%;
        position: relative;
        left: 12.5vw;
        top: -16vw;
        bottom: 1.2vw;
        z-index: 1;
        border-radius: .5vw;
    }
    #t{
        display: none;
    }
    .bigT{
        font-size: 5vw;
        
    }
    .pT{
        color: #3D087B;
        box-sizing: border-box;
        font-size: 4vw;
        display: flex;
        height: 20vw;
        width: 20vw;
        background-image: url(./timeline.png);
        align-items: center;
        justify-content: center;
        margin-left: .5vw;
        margin-right: .5vw;
    }
    .pTd{
        display: flex;
        font-size: larger;
        align-items: center;
        justify-content: center;
    }
    #wT{
        font-family: 'Manrope', sans-serif;
        color: #5F0089;
        font-size: 9vw;
        box-sizing: border-box;
        display: flex;
        height: 20vw;
        width: 20vw;
        margin-left: 1vw;
        background-image: url(./images/AM.png) 0% 0%;
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }
    #routine{
        font-family: 'Manrope', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        height: 40vh;
        box-sizing: border-box;
        overflow: hidden;
        padding: 1vw;
        width: 70vw;
        margin-left: 11vw;
        margin-top: 35vw;
        border-radius: 1vw;
        line-height: 1.1vw;
        color: #3D087B;
        font-size: 18px;
    }
    .selText{
        font-family: 'Manrope', sans-serif;
        color: #3D087BDE;
    }
    option {
        color: rgb(176, 174, 174);
    }
    select{
        color: rgb(105, 103, 103);
    }
    .stick{
        position: relative;
        left: .8vw;
        height: 3vw;
        font-size: 3vw;
        color: #C2C2C2;
    }
    .a1{
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: -.6vw;
    }
    .sel{
        width: 20vw;
        height: 4vw;
        position: relative;
        
        border: #EDEDED 1px solid;
    
    }
    #gm{
        font-family: 'Fredoka One', cursive;
        font-size: 9vw;
        background-color: #974bb8;
        box-sizing: border-box;
        padding-left: 1vw;
        border-radius: 1vw;
        color: white;
        width: 70vw;
        margin: 3vw 3vw 3vw 11vw;
        display: flex;
        justify-content: center;

    }
    #bottomA{
        display: flex;
        align-items: center;
    
    }
    .button{
        position: relative;
        
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 1px white;
        margin-right: 1vw;
        color: white;
        justify-content: center;
        box-sizing: border-box;
        font-size: 5vw;
        width: 40vw;
        height: 10vw;
        font-family: 'Manrope', sans-serif;
        background-image: linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
       
    }
    .button:hover{
        border-radius: 5px;
        font-size: 0px;
        padding: 0vw;
        margin-right: 1vw;
    }
    .button:hover:after{
        border-radius: 5px;
        display:flex ;
        align-items: center;
        margin-right: 0vw;
        justify-content: center;
        content: "Party Time!";
        border: none;
        font-size: 5vw;
        font-family: 'Manrope', sans-serif;
        background-image: linear-gradient(247deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
    
    }
    #bottomB{
        background-color: #974bb8;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-right: 1vw;
        color: #f570ff;
        text-shadow: #3D087B 2px 2px 2px;
        opacity: 1;
        width: 30vw;
        position: relative;
        bottom: 1vw;
        margin: 0px;
        overflow: hidden;
        font-size: 2vw;
        line-height: 2vw;
    }
    #grab{
        font-family: 'Fredoka One', cursive;
        font-size: large;
        top: 113vw;
        left: 10vw;
        height: 10vw;
        box-sizing: border-box;
        width: 70vw;
        background-color: white;
        margin: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        color: #8E53F0;
    }
    #img{
        top: 125vw;
        left: 10vw;
        display: inline-block;
        box-sizing: border-box;
    }
    #imgM{  
        
        width: 70vw;
        margin: 2vw;
    }
}